header {
    border-bottom: solid 0.1rem;
    border-bottom-color:darkmagenta;
}
main h2 {
    font-size: 35px;
    font-weight: 500;
    font-style: italic;
    text-decoration: underline solid 0rem;
    margin-left: 25px;
    margin-bottom: 50px;
    color: darkmagenta;
}
main h3 {
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    text-decoration: underline solid 0rem;
    margin-left: 25px;
    margin-bottom: 35px;
    margin-top: 75px;
}
.nav-content .list-content {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}
.nav-content ul li{
    display: inline-flex;
    list-style: none;
    text-decoration: none;
}
.nav-content a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}
#Home {
    border-bottom: solid 0.1rem;
    border-bottom-color:darkmagenta;
    margin-top: 25px;
}
#Home h1 {
    justify-content: center;
    display: flex;
    font-size: 45px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 50px;
}
#Home p {
    justify-content: center;
    display: flex;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 50px;
}
#Sobre {
    border-bottom: solid 0.1rem;
    border-bottom-color: darkmagenta;
    margin-top: 50px;
}
#Sobre img {
    border-radius: 50%;
    margin-left: 50px;
    width: 300px;
    border: solid 0.15rem;
}
.art-content {
    display: inline-flex;
    align-items: center;
    gap: 30px;
}

.art-content p {
    font-size: 20px;
    font-weight: 300;
}
.form-content {
    margin-top: 50px;
}
.form-content h4 {
    font-size: 20px;
    font-weight: 100;
    margin-left: 35px;
    margin-bottom: 15px;
}
.form-content span {
    font-size: 18px;
    font-weight: 100;
    margin-left: 35px;
}
.cursos-content {
    margin-top: 50px;
}
.cursos-content ul {
    list-style: none;
    display: flex;
    justify-content:space-between;
    gap: 100px;
    margin-right: 25px;
}
.cursos-content h4 {
    font-size: 20px;
    font-weight: 100;
    text-decoration: underline solid 0rem;
}
.cursos-content p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
}
.cursos-content span {
    font-size: 16px;
}
.tools-content {
    margin-top: 50px;
}
.tools-content ul {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}
.tools-content li {
    list-style: none;
    font-weight: 100;
    text-align: center;
}
.tools-content i {
    font-size: 100px;
    border: solid 0.15rem;
    border-radius: 50%;
}
.tools-content p {
    font-size: 25px;
    font-weight: 500;
}
.lang-content {
    margin-top: 50px;
}
.lang-content ul {
    margin-top: 50px;
}
.lang-content li {
    list-style: none;
    font-size: 18px;
    font-weight: 100;
    padding: 10px;
}
#Projetos {
    border-bottom: solid 0.1rem;
    border-bottom-color: darkmagenta;
    margin-top: 50px;
    margin-bottom: 50px;
}
.proj-content {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    margin-bottom: 50px;
}
#Projetos img {
    margin-left: 150px;
    border: solid 0.1rem;
    border-radius: 3%;
}
#Projetos p {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 10px;
    padding-top: 0;
    text-align: start;
}
#Projetos span {
    font-size: 18px;
    font-weight: 300;
    display: flex;
    padding-top: 30px;
    padding-bottom: 50px;
}
#Projetos a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    border: solid 0.15rem;
    border-radius: 10%;
}
#Contatos {
    margin-top: 50px;
    margin-bottom: 50px;
}
#Contatos p {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 25px;
}
.email-content {
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    padding-bottom: 25px;
}
.email-content a {
    border: solid 0.15rem;
    border-radius: 5%;
    text-decoration: none;
    color: purple;
}
.social-content ul {
    display: flex;
    justify-content: center;
    gap: 100px;
}
.social-content li {
    list-style: none;
}
.social-content a {
    text-decoration: none;
    font-size: 20px;
}
footer {
    border-top: solid 0.1rem;
    border-top-color: darkmagenta;
}
footer p {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 100;
    margin-top: 25px;
}
.btt-content{
    display: flex;
    justify-content: flex-end;
}
.btt-content button {
    font-size: 30px;
    border-radius: 50%;
    border: solid 0.1rem;
}